button {
  margin: 1px;
  min-width: 0px;
}

.button-text {
  margin: 0px !important;
  font-size: 8pt;
}

menuitem {
  font-size: 8pt;
}	

.menu-iconic-icon {
  width: 16px;
  height: 10px;
  list-style-image: inherit;
}

.tab-text {
  font-size: 9pt;
}

tabpanels {
  font-size: 8pt;
}

toolbarbutton {
  margin: 1px;
  padding: 3px;
  min-width: 1cm;
}

#image_echo {
  list-style-image: url('chrome://alcatraz/skin/images/echo.png');
}

#button_first {
  min-width: 0px;
  list-style-image: url('chrome://alcatraz/skin/images/first.png');
}

#button_prev {
  min-width: 0px;
  list-style-image: url('chrome://alcatraz/skin/images/prev.png');
}

#button_next {
  min-width: 0px;
  list-style-image: url(chrome://alcatraz/skin/images/next.png);
}

#button_last {
  min-width: 0px;
  list-style-image: url(chrome://alcatraz/skin/images/last.png);
}
